html,
body {
    margin: 0;
}

body {
    height: 100vh;
    padding: 1em;
    background: #050401;
    color: white;
    font-family: edmunds;
}

.container {
    text-align: center;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

.wrapper {
    opacity: 0;
    height: 0;
    min-height: none;
    width: 0;
    padding: 0;
    pointer-events: none;
}

.wrapper.show {
    opacity: 1;
    height: auto;
    width: auto;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    pointer-events: auto;
}

/*CLOCK*/
#clock {
    align-items: center;
    box-sizing: border-box;
    color: #FFFAFF;
    display: inline-flex;
    font-size: 2rem;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    position: relative;
    text-decoration: none;
}

.button-row {
    margin: 0 auto;
}

/*BUTTON*/
.button-cta {
    align-items: center;
    background-clip: padding-box;
    background-color:darkgreen;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button-cta:hover,
.button-cta:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-cta:hover {
    transform: translateY(-1px);
}

.button-cta:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

.button-set-alarm {
    background-color: darkred;
    color: white;
}

.button-test {
    background-color: #FFFAFF;
    color: #303036;
}

/*SET ALARM*/
label[for="alarm"] {
    display: block;
    font-size: 1.5rem;
    margin: 1em 0;
}
input[type=time]#alarm {
    font-size: 3rem;
    border: none;
    padding: 0.3em;
}

/* Wrapper around the hour, minute, second, and am/pm fields as well as
the up and down buttons and the 'X' button */
input[type=time]::-webkit-datetime-edit-fields-wrapper {
    display: flex;
}

/* Set Alarm button */
input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* success svg animation */
.success-animation { margin: 0 auto;}

.checkmark.show {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #4bb71b;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #4bb71b;
    animation: fill 2s ease-in-out 1.4s forwards, scale 1.3s ease-in-out 1.9s both;
    position:relative;
    top: 5px;
    right: 5px;
   margin: 0 auto;
}

.checkmark.hide {
    display: none;
}

.checkmark.show .checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #4bb71b;
    fill: #000;
    animation: stroke 1.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
 
}

.checkmark.show .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 1.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
}

/* error animation */
/* TODO fix animation */
.ui-error {
    display: none;
}

.ui-error.show {
    display: block;
}

.ui-error.show {
    width: 100px; height: 100px;
	margin: 0 auto;
	&-circle{
		stroke-dasharray:260.75219024795285px, 260.75219024795285px;
		stroke-dashoffset: 260.75219024795285px;
		animation: ani-error-circle 1.2s linear;
	}
	&-line1{
		stroke-dasharray: 54px 55px;
		stroke-dashoffset: 55px;
		stroke-linecap: round;
		animation: ani-error-line .15s 1.2s linear both;
	}
	&-line2{
		stroke-dasharray: 54px 55px;
		stroke-dashoffset: 55px;
		stroke-linecap: round;
		animation: ani-error-line .2s .9s linear both;
	}
}

@keyframes ani-error-line{
	to { stroke-dashoffset: 0; }
}

 @keyframes ani-error-circle {
		0% {
				stroke-dasharray: 0, 260.75219024795285px;
				stroke-dashoffset: 0;
		}
		35% {
				stroke-dasharray: 120px, 120px;
				stroke-dashoffset: -120px;
		}
		70% {
				stroke-dasharray: 0, 260.75219024795285px;
				stroke-dashoffset: -260.75219024795285px;
		}
		100% {
				stroke-dasharray: 260.75219024795285px, 0;
				stroke-dashoffset: -260.75219024795285px;
		}
}