html,
body {
    margin: 0;
}

body {
    height: 100vh;
    padding: 1em;
    background: #050401;
    color: white;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
    text-align: center;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

.wrapper {
    opacity: 0;
    height: 0;
    min-height: none;
    width: 0;
    padding: 0;
    pointer-events: none;
}

.wrapper.show {
    opacity: 1;
    height: auto;
    width: auto;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    pointer-events: auto;
}

/*CLOCK*/
#clock {
    align-items: center;
    box-sizing: border-box;
    color: #FFFAFF;
    display: inline-flex;
    font-size: 7rem;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    position: relative;
    text-decoration: none;
}

.button-row {
    margin: 0 auto;
}

/*BUTTON*/
.button-cta {
    align-items: center;
    background-clip: padding-box;
    background-color: #30BCED;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #303036;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button-cta:hover,
.button-cta:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-cta:hover {
    transform: translateY(-1px);
}

.button-cta:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

.button-set-alarm {
    background-color: #FC5130;
    color: white;
}

.button-test {
    background-color: #FFFAFF;
    color: #303036;
}

/*SET ALARM*/
label[for="alarm"] {
    display: block;
    font-size: 1.5rem;
    margin: 1em 0;
}
input[type=time]#alarm {
    font-size: 3rem;
    border: none;
    padding: 0.3em;
}

/* Wrapper around the hour, minute, second, and am/pm fields as well as
the up and down buttons and the 'X' button */
input[type=time]::-webkit-datetime-edit-fields-wrapper {
    display: flex;
}

/* Set Alarm button */
input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}